[Unit]
Description=Yoho Remote Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=yoho
WorkingDirectory=/var/lib/yoho-remote
EnvironmentFile=/etc/yoho-remote/daemon.env
ExecStart=/opt/yoho-remote/yoho-remote daemon start-sync
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
