CLI_API_TOKEN=replace-with-the-same-secret
YOHO_REMOTE_URL=https://remote.example.com
YOHO_REMOTE_HOME=/home/yoho/.yoho-remote
HOME=/home/yoho
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/yoho/.bun/bin

# Optional
# YR_DAEMON_HEARTBEAT_INTERVAL=15000
# YR_DAEMON_HTTP_TIMEOUT=10000
